// SCSS function to generate the keyframes
@use "sass:string";

.animation.left {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.8s;
}
.right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 0.8s;
}
.animation.intersect {
  opacity: 1; 
  filter: blur(0); 
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden-left {
    transition: 0;
  }
}

@keyframes fade-in-top {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}