@import "./global.css";

.container {
    margin: 0;
    height: calc(100dvh - var(--margin-top));
}
.centerLine {
    position: fixed;
    height: 100%;
    left: 50%;
    right: 50%;
}
.aboutMe {
    display: flex;
    height: 100%;
    @media (max-width: 992px) {
        flex-direction: column-reverse;
        justify-content: start;
        align-items: center;
        gap: 50px;
        padding: 0 30px;
        padding-top: 20px;
    }
    // desktop 
    @media (min-width: 992px) {
        flex-direction: row;
        align-items: center;
        height: 40rem;
        margin: 0 7rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    @media (max-width: 1200px) {
        margin: 0 2rem;
    }
    // large monitor
    @media (min-width: 1600px) {
        margin: 0 20rem;
        margin-top: 5rem;
        padding: 0 2rem;
    }
}
.content {
    text-align: center;
    width: auto;
    @media (min-width: 768px) {
        width: 50%;
    }
    @media (min-width: 992px) {
        width: auto;
        display: flex;
        flex-direction: column;
        text-align: left;
        max-height: 100%;
        margin-left: 20px;
    }
    @media (min-width: 1200px) {
        width: 50%;
    }
    @media (min-width: 1600px) {
        margin-left: 6rem;
    }
    
}
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 992px) {
        justify-content: flex-start;
    }
}
.title {
    color: var(--primary-color);
    font-size: 32px;
    font-weight: 900;
    @media (min-width: 992x) {
        height: 150px;
        font-size: 64px;
    }
}
h1 {
    font-size: 20px;
    @media (min-width: 992px) {
        font-size: 40px;
    }
}
.name {
    padding-left: 5px;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
    @media (min-width: 992px) {
        padding-left: 10px;
        font-size: 40px;
    }
}
.link {
    text-decoration: underline;
}

.link:hover {
    font-weight: bold;
    cursor: pointer;
}

.description {
    font-size: 1rem;
    margin-top: 1rem;
    @media (min-width: 992px) {
        font-size: 1.125rem;
        margin-top: 60px;
    }
}
.imageContainer {
    // width: 100%;
    min-width: 200px;
    min-height: 200px;
    @media (max-width: 992px) {
        padding-left: 52px;
        display: flex;
        justify-content: center;
    }
    @media (min-width: 992px) {
        min-width: 400px;
        min-height: 400px;
        padding-left: 60px;
    }
}
.ashImg {
    width: 250px;
    height: 250px;
    object-fit: contain;
    @media (min-width: 768px) {
        width: 300px;
        height: 300px;
        }
    @media (min-width: 992px) {
        width: 400px;
        height: 400px;
    }
}
