@use "./breakpoints.scss";
@import "./global.css";

.container {
    margin: 0 auto;
    max-width: fit-content;
    height: calc(100dvh - var(--margin-top));
}
.centerLine {
    position: fixed;
    height: 100%;
    left: 50%;
    right: 50%;
}
.aboutMe {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    @media (max-width: breakpoints.$tablets) {
        justify-content: center;
        align-items: center;
        padding: 0 30px;
    }
    // desktop 
    @media (min-width: breakpoints.$tablets) {
        grid-template-columns: auto 1fr;
        grid-gap: 2rem;
        min-height: 40rem;
        margin-top: 6rem;
    }
    @media (min-width: breakpoints.$desktop) {
        margin-top: 7rem;
    }
    // large monitor
    @media (min-width: breakpoints.$largedevice) {
        grid-template-columns: auto auto;
        margin-top: 10rem;
    }
}
.content {
    text-align: center;
    width: auto;
    @media (min-width: breakpoints.$tablets) {
        display: flex;
        flex-direction: column;
        text-align: left;
        max-height: 100%;
        margin-left: 20px;
    }
    @media (min-width: breakpoints.$desktop) {
    }
    @media (min-width: breakpoints.$largedevice) {
    }
    
}
.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: breakpoints.$tablets) {
        justify-content: flex-start;
    }
}
.title {
    color: var(--primary-color);
    font-size: 32px;
    font-weight: 900;
    @media (min-width: breakpoints.$tablets) {
        height: 150px;
        font-size: 64px;
    }
}
h1 {
    font-size: 20px;
    padding-right: 5px;
    @media (min-width: breakpoints.$tablets) {
        padding-right: 10px;
        font-size: 40px;
    }
}
.name {
    
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
    @media (min-width: breakpoints.$tablets) {
        
        font-size: 40px;
    }
}
.link {
    text-decoration: underline;
}

.link:hover {
    font-weight: bold;
    cursor: pointer;
}

.description {
    font-size: 1rem;
    margin-top: 1rem;
    @media (min-width: breakpoints.$tablets) {
        font-size: 1.125rem;
        margin-top: 60px;
    }
}
.imageContainer {
    min-width: 200px;
    min-height: 200px;
    @media (max-width: breakpoints.$tablets) {
        grid-row-start: 1;
        justify-self: center;
        padding-left: 3rem;
    }
    @media (min-width: breakpoints.$tablets) {
        width: 350px;
        height: 350px;
    }
    @media (min-width: breakpoints.$desktop) {
        max-width: 500px;
        max-width: 500px;
    }
}
.ashImg {
    width: 250px;
    height: 250px;
    object-fit: contain;
    @media (min-width: breakpoints.$tablets) {
        width: 350px;
        height: 350px;
    }
    @media (min-width: breakpoints.$desktop) {
        width: 400px;
        height: 400px;
    }
    @media (min-width: breakpoints.$largedevice) {
        width: 500px;
        height: 500px;
    }
}
