.aboutMe {
    margin: 0;
    display: flex;
    justify-content: start;
    height: calc(100vh - 4.375rem);
    /* height: 100vh; */
}
.content {
    font-family: Lato;
    text-align: center;
}
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    color: #0A929B;
    /* H1 */
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
h1 {
    font-size: 20px;
}
.name {
    padding-left: 10px;
    color: #0A929B;
    /* H2 */
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.link:hover {
    font-weight: bold;
}

.projectContainer {
    margin-top: 20px;
    display: flex;
    padding: 26px 0px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 20px;
    background: var(--Main, #0A929B);
    box-shadow: 0px 4px 4px 0px #B6CED0;
}
.project {
    color: var(--Lightest, #FCFFFF);
    text-align: center;
    /* H2 */
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.description {
    font-size: 1rem;
    margin-top: 1rem;
}

.imageContainer {
    perspective: 1000px;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imageContainer:hover .flipper {
    transform: rotateY(180deg);
}
.flipper {
    position: relative;
    width: 100%;
    height: 80%; 
    transition: 0.6s;
    transform-style: preserve-3d;
}
.front,
.back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.front {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* back, initially hidden pane */
.back {
    display: flex;
    text-align: center;
    align-items: center;
    transform: rotateY(180deg);
}
.back h1 {
    color: #0A929B;
    /* H1 */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.ashImg {
    width: 100%; 
    height: 100%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .aboutMe {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 30px;
    }
}

@media (min-width: 768px) {
    .aboutMe { 
        flex-direction: row;
        align-items: center;
        height: calc(100vh - 4.375rem);
        padding: 112px 15.214px 113px 88px;
    }
    .intro {
        display: flex;
        align-content: center;
        justify-content: flex-start;
    }
    .content {
        display: flex;
        flex-direction: column;
        text-align: left;
        height: 100%;
    }
    .title {
        height: 150px;
        font-size: 64px;
    }
    h1 {
        font-size: 40px;
    }
    .name {
        padding-left: 10px;
        font-size: 40px;
    }
    .project {
        color: var(--Lightest, #FCFFFF);
        text-align: center;
        /* H2 */
        font-family: Lato;
    }
    .description {
        font-size: 1.125rem;
        margin-top: 60px;
    }
    .projectContainer {
        width: 70%;
        margin-top: 20px; 
        display: flex;
        padding: 26px 103px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        border-radius: 20px;
        background: var(--Main, #0A929B);
        box-shadow: 0px 4px 4px 0px #B6CED0;
    }
    .imageContainer {
        perspective: 1000px;
        width: 100%;
        height: 100%;
    }
    .imageContainer:hover .flipper {
        transform: rotateY(180deg);
    }
    .flipper {
        position: relative;
        width: 100%;
        height: 100%;
        transition: 0.6s;
        transform-style: preserve-3d;
    }
    .front, .back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
    .front {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* back, initially hidden pane */
    .back {
        padding: 0 20px;
        display: flex;
        align-items: center;
        transform: rotateY(180deg);
    }
    .back h1 {
        font-size: 32px;
    }
    .ashImg {
        width: 100%; 
        height: 100%; 
        object-fit: contain;
    }
    
}
