$primary-color: #0a929b;
$secondary-color: #5b6166;
$margin-top: 4.375rem;
$scroll-margin-top: 5rem;
$container-padding: 3rem;
$header-color: #fcffff;
$footer-color: #e6f3f4;
$background-color-odd: #f9f9f9;
$background-color-even: #e6f3f4;
