<div id="about" class="container">
    <div class="content">
        <h1 class="title">ABOUT ME</h1>
        <h1 class="subtitle">Computer Science Student studying in University of Minnesota</h1>
        <p>I am a computer science and Entreprenurship student studying at University of Minnesota
        </p>
        <br/>
        <p>I am a bilingual and highly motivated student with a strong foundation in programming, software engineering, and data science. Currently pursuing a Bachelor of Arts in Computer Science at the University of Minnesota, Twin Cities, and a Bachelor of Science in Business with a major in Entrepreneurship at Curtis L. Carlson School of Management. 
    I am passionate about leveraging both technical expertise and business acumen to drive data-driven insights and create innovative solutions.</p>
    </div>
    <div class="imageSection">
        <img class="image" src="images/umn.jpg" alt="">
    </div>
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto; 
    }
    .title {
        font-size: 2rem;
        font-weight: bold;
    }
    .subtitle {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.25rem;
    }
    @media (min-width: 768px) {
        .container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            text-align: left;
        }
        .content {
            width: 80%;
        }
        .image {
            width: 1000px;
            height: 300px;
        }
        
    }
</style>