---
import { Image } from "astro:assets";
import "../styles/global.css";
import TechStack from "./TechStack.astro";
---

<div class="container">
    <div class="center" aria-hidden="true"></div>
    <div class="content">
        <div class="left-side">
            <div class="about-title">
                <h1 class="about">ABOUT</h1>
                <h1 class="title">ME</h1>
            </div>
            <div class="image-container"></div>
        </div>
        <div class="right-side">
            <h1 class="subtitle">Software Developer from Japan</h1>
            <p>
                I am a bilingual software developer from Japan!
                <br />
                Graduate from University of Minnesota with double major in Computer
                Science and Entrepreneurship. I am passionate about leveraging both
                technical expertise and business acumen to drive data-driven insights
                and create innovative solutions.
            </p>
        </div>
    </div>
    <TechStack />
</div>

<style lang="scss">
    @use "../styles/variables.scss";
    @use "../styles/breakpoints.scss";
    .container {
        height: calc(100dvh - variables.$margin-top);
        margin: auto;
    }
    .center {
        position: fixed;
        height: 100%;
        left: 50%;
        right: 50%;
        /* border-left: solid #ff0000; */
    }
    .content {
        display: grid;
        @media (max-width: calc(breakpoints.$tablets - 1px)) {
            grid-gap: 10px;
            text-align: center;
            padding: 10px 26px;
            padding-top: 1.875rem;
        }
        @media (min-width: breakpoints.$tablets) {
            grid-template-columns: 1fr 1.5fr;
            grid-auto-rows: 1fr;
            align-items: center;
            gap: 4.375rem;
            min-width: fit-content;
            height: 65%;
        }
        @media (min-width: breakpoints.$desktop) {
            padding-left: 80px;
            padding-right: 80px;
        }
        @media (min-width: breakpoints.$largedevice) {
            grid-template-columns: 1fr 1fr;
        }
    }
    .left-side {
        display: grid;
        justify-content: center;
        grid-gap: 10px;
        @media (min-width: breakpoints.$tablets) {
            min-height: 300px;
        }
        @media (min-width: breakpoints.$largedevice) {
            min-height: 400px;
        }
    }
    .right-side {
        display: grid;
        justify-content: center;
        @media (min-width: breakpoints.$tablets) {
            min-height: 300px;
            grid-gap: 10px;
        }
        @media (min-width: breakpoints.$largedevice) {
            height: 400px;
        }
    }
    .about-title {
        display: flex;
        justify-content: center;
        height: fit-content;
        gap: 10px;
        @media (min-width: breakpoints.$tablets) {
            display: flex;
            gap: 10px;
        }
    }
    .about {
        color: var(--Charcoal, #5b6166);
        font-size: 32px;
        font-weight: 600;
        @media (min-width: breakpoints.$tablets) {
            font-size: 48px;
        }
    }
    .title {
        color: variables.$primary-color;
        font-size: 32px;
        font-weight: 600;
        @media (min-width: breakpoints.$tablets) {
            font-size: 48px;
        }
    }
    .image-container {
        border: 3px solid #2d2e32;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        background-image: url("../../public/images/profile_closeup.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        min-width: 200px;
        min-height: 200px;
        @media (min-width: breakpoints.$tablets) {
            width: fit-content;
        }
        @media (min-width: breakpoints.$desktop) {
            max-width: 400px;
            max-height: 400px;
        }
        @media (min-width: breakpoints.$largedevice) {
            max-width: 500px;
            max-height: 500px;
        }
    }

    .subtitle {
        color: #0a929b;
        text-align: center;
        /* H2 */
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 10px;
        @media (min-width: breakpoints.$tablets) {
            font-size: 40px;
            margin-bottom: 0;
        }
    }
    .right-side p {
        color: #5b6166;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: 32px; /* 177.778% */
    }
</style>
