<div id="about" class="container">
    <h1 class="title">ABOUT ME</h1>
    <h1 class="subtitle">Computer Science Student studying in University of Minnesota</h1>
    <p>I am a computer science and Entreprenurship student studying at University of Minnesota
        I am from Japan
    </p>
</div>


<style>
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto; 
    }
    .title {
        font-size: 2rem;
        font-weight: bold;
    }
    .subtitle {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.25rem;
    }
</style>