---
import { Image } from "astro:assets";
import umnImage from "../../public/images/umn.png";
import TechStack from "./TechStack.astro";
---

<div class="page-container">
    <div class="center" aria-hidden="true"></div>
    <div class="aboutme-container">
        <div class="left-side">
            <div class="about-title">
                <h1 class="about">ABOUT</h1>
                <h1 class="title">ME</h1>
            </div>
            <div class="image-container">
                <Image src={umnImage} alt="image of umn" />
            </div>
        </div>
        <div class="content">
            <h1 class="subtitle">m
                Computer Science & Entrepreneurship Graduate
            </h1>
            <p>
                I am a bilingual and highly motivated individual with a strong
                foundation in programming, software engineering, and data
                science. Recent graduate from University of Minnesota with
                double major in Computer Science and Entrepreneurship. I am
                passionate about leveraging both technical expertise and
                business acumen to drive data-driven insights and create
                innovative solutions.
            </p>
        </div>
    </div>
    <TechStack />
</div>

<style>
    .page-container {
        /* height: calc(100vh - 4.375rem); */
    }
    .center {
        position: fixed;
        height: 100%;
        left: 50%;
        right: 50%;
        /* border-left: solid #ff0000; */
    }
    .aboutme-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px 26px;
        padding-top: 1.875rem;
        gap: 10px;
    }
    .left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        gap: 10px;
    }
    .about {
        color: var(--Charcoal, #5b6166);
        /* H1 */
        font-family: Lato;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .title {
        color: #0a929b;
        /* H1 */
        font-family: Lato;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .image-container {
        width: 100%;
        display: flex;
        justify-content: center;
        max-height: fit-content;
        max-width: fit-content;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .subtitle {
        color: #0a929b;
        text-align: center;
        /* H2 */
        font-family: Lato;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 10px;
    }
    .content p {
        color: #5b6166;
        text-align: center;
        /* P 1 */
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 177.778% */
    }
    @media (min-width: 768px) {
        .aboutme-container {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 4.375rem;
            /* overwrite padding */
            padding: 4rem 5rem 0px 5rem;
            height: 65%;
        }
        .left-side {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            width: 50%;
            height: 100%;
        }
        .about-title {
            display: flex;
            gap: 10px;
            margin-bottom: 0;
        }
        .about {
            font-size: 48px;
        }
        .image-container {
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100%;
            max-height: fit-content;
            max-width: fit-content;
        }
        .content {
            /* overwrite to flex-start */
            justify-content: flex-start;
            gap: 2.1875em;
            height: 100%;
            width: 60%;
        }
        .title {
            font-size: 48px;
        }
        .subtitle {
            font-size: 40px;
            margin-bottom: 0;
        }
    }
</style>
