---
import { Image } from "astro:assets";
import linkedin from "../../public/images/linkedin-3.png";
import github from "../../public/images/github.png";
import "../styles/global.css"
---

<div id="contact" class="footer-container">
    <div class="row-container">
        <div class="name-container">
            <p class="by">Created by:</p>
            <p class="name"><a href="#section1">Asahi (Ash) Kuroki</a></p>
        </div>
        <div class="icon-container">
            <a href="https://github.com/kurokiasahi222"
                ><Image src={github} alt="github icon" width="35" /></a
            >
            <a href="https://www.linkedin.com/in/asahi-kuroki/"
                ><Image src={linkedin} alt="linkedin icon" width="35" /></a
            >
        </div>
    </div>
    <div class="row-container">
        <div class="name-container">
            <p class="by">Design by:</p>
            <p class="name">
                <a href="https://www.kaylafpurney.com">Kayla Purney</a>
            </p>
        </div>
        <div class="icon-container">
            <a href="https://www.linkedin.com/in/kayla-purney-00027921b/"
                ><Image src={linkedin} alt="linkedin icon" width="35" /></a
            >
        </div>
    </div>
</div>

<style lang="scss">
    @use "../styles/variables.scss";
    @use "../styles/breakpoints.scss";
    .footer-container {
        background: variables.$footer-color;
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 6px;
        @media (min-width: breakpoints.$tablets) {
            padding: 53px 70px;
            display: flex;
            justify-content: space-around;
        }
    }
    .row-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .name-container {
        display: flex;
        gap: 3px;
        @media (min-width: breakpoints.$tablets) {
            height: fit-content;
        }
    }
    .icon-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: all ease-in-out 0.3s;
        &:hover {
            transform: translateY(-0.3rem);
        }
    }
    .by {
        color: variables.$primary-color;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @media (min-width: breakpoints.$tablets) {
            font-size: 20px;
        }
    }
    .name {
        color: variables.$primary-color;
        font-size: 18px;
        font-weight: 700;
        &:hover {
            font-size: 20px;
        }
        @media (min-width: breakpoints.$tablets) {
            font-size: 20px;
            &:hover {
                font-size: 22px;
            }
        }
    }
</style>
