<div id="contact" class="footer-container">
    <div class="name-container">
        <p class="by">Created by:</p>
        <p class="name">Asahi (Ash) Kuroki</p>
    </div>
    <div class="name-container">
        <p class="by">Design by:</p>
        <p class="name">Kayla</p>
    </div>
</div>

<style>
    .footer-container {
        background: var(--Mid-tone, #e6f3f4);
        width: 100%;
        height: 300px;
        padding: 100px 70px;
    }
    .name-container {
        display: flex;
        gap: 5px;
    }
    .by {
        color: var(--Main, #0a929b);
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .name {
        color: var(--Main, #0a929b);
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
</style>
