---
import { Image } from "astro:assets";
import linkedin from "../../public/images/linkedin-3.png";
import github from "../../public/images/github.png";
---

<div id="contact" class="footer-container">
    <div class="row-container">
        <div class="name-container">
            <p class="by">Created by:</p>
            <p class="name">Asahi (Ash) Kuroki</p>
        </div>
        <div class="icon-container">
            <a href="https://www.linkedin.com/in/asahi-kuroki/"
                ><Image src={linkedin} alt="linkedin icon" width="27" /></a
            >
            <a href="https://github.com/kurokiasahi222"
                ><Image src={github} alt="github icon" width="27" /></a
            >
        </div>
    </div>
    <div class="row-container">
        <div class="name-container">
            <p class="by">Design by:</p>
            <p class="name">Kayla Purney</p>
        </div>
        <div class="icon-container">
            <a href=""
                ><Image src={linkedin} alt="linkedin icon" width="27" /></a
            >
        </div>
    </div>
</div>

<style>
    .footer-container {
        background: var(--Mid-tone, #e6f3f4);
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    .row-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .name-container {
        display: flex;
        gap: 3px;
    }
    .icon-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .by {
        color: var(--Main, #0a929b);
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .name {
        color: var(--Main, #0a929b);
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    @media (min-width: 768px) {
        .footer-container {
            height: calc((100vh - 4.375rem) * 0.2);
            padding: 53px 70px;
            display: flex;
            justify-content: space-around;
        }
        .name-container {
            height: fit-content;
        }
        .name {
            font-size: 20px;
        }
        .by {
            font-size: 20px;
        }
    }
</style>
