<header>
    <nav>
        <div class="mobile">
            <h3 class="logo">Ash.dev</h3>
            <img src="images/menu.png" alt="hamberger-menu" />
        </div>
        <ul class="menu">
            <h3 class="logo">Ash.dev</h3>
            <li>
                <a class="navigation" href="#about">ABOUT</a>
            </li>
            <li>
                <a class="navigation" href="#projects">PROJECTS</a>
            </li>
            <li>
                <a class="navigation" href="#contacts">CONTACT</a>
            </li>
            <li><a class="resume" href="#">RESUME</a></li>
            <li class="icon-container">
                <a href="https://www.linkedin.com/in/asahi-kuroki/"
                    ><img
                        class="icon"
                        src="images/linkedin-3.png"
                        alt="linkedin-icon"
                    /></a
                >
                <a href="https://github.com/kurokiasahi222">
                    <img
                        class="icon"
                        src="images/github.png"
                        alt="github-icon"
                    />
                </a>
            </li>
        </ul>
    </nav>
</header>

<!-- <script>
    const mobile = document.querySelector('.mobile');
    const menu = document.querySelector('.menu');
    mobile.addEventListener('click', () => {
        menu.classList.toggle('active');
    })
</script> -->

<style>
    header {
        background: var(--Lightest, #fcffff);
        /* DROP SHADOW */
        box-shadow: 0px 4px 4px 0px #b6ced0;
    }
    .logo {
        color: #0a929b;
        text-align: center;
        font-family: Lato;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
    .navigation {
        color: var(--Charcoal, #5b6166);
        text-align: center;
        /* NAV */
        font-family: Lato;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .resume {
        color: #0a929b;
        text-align: center;
        font-family: Lato;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .resume:hover {
        font-size: 18px;
    }
    .mobile {
        width: 2rem;
        height: 2rem;
    }
    .nav {
        width: 100%;
    }
    nav ul li a {
        text-decoration: none;
        color: black;
        font-family: Poppins;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    nav ul li a:hover {
        font-size: 18px;
        font-weight: bold;
    }

    @media (min-width: 768px) {
        header {
            height: 4.375rem;
        }
        .mobile {
            display: none;
        }
        nav {
            height: 100%;
            padding: 0 70px;
        }
        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }
        .icon {
            width: 40px;
            height: 37px;
        }
        .icon-container {
            display: flex; 
        }
    }
</style>
