<header>
    <nav>
        <div class="mobile">
            <h3 class="main-logo-phone">Ash.dev</h3>
            <div
                id="hamberger"
                aria-controls="primary-navigation"
                aria-expanded="false"
            >
                <b class="bar-1"></b>
                <b class="bar-2"></b>
                <b class="bar-3"></b>
                <b class="bar-4"></b>
            </div>
        </div>
        <div id="menu" class="menu">
            <h3 class="main-logo-desk"><a href="#section1">ASH.dev</a></h3>
            <div id="over-lay"></div>
            <div class="nav-container" id="primary-navigation">
                <a class="navigation" href="#section1">HOME</a>
                <a class="navigation" href="#section2">ABOUT</a>
                <a class="navigation" href="#section3">PROJECTS</a>
                <a class="navigation" href="#section4">CONTACT</a>
                <div class="icon-container">
                    <a href="https://www.linkedin.com/in/asahi-kuroki/"
                        ><img
                            class="icon"
                            src="images/linkedin-3.png"
                            alt="linkedin-icon"
                        /></a
                    >
                    <a href="https://github.com/kurokiasahi222">
                        <img
                            class="icon"
                            src="images/github.png"
                            alt="github-icon"
                        />
                    </a>
                </div>
            </div>
        </div>
        <script>
            const hamberger: HTMLElement =
                document.getElementById("hamberger")!;
            const menu: HTMLElement = document.getElementById("menu")!;
            const navContainer: HTMLElement =
                document.querySelector(".nav-container")!;
            const fpNav: HTMLElement = document.getElementById("fp-nav")!;
            const navigations = document.querySelectorAll(".navigation")!;

            hamberger.addEventListener("click", () => {
                hamberger.classList.toggle("open");
                if (!menu.classList.contains("show")) {
                    // if close, open
                    menu.classList.add("show");
                    fpNav.style.display = "none";
                } else {
                    // if open, close the menu
                    menu.classList.remove("show");
                    fpNav.style.display = "block";
                }
                navContainer.classList.toggle("active");
            });
            // when menu is open for mobile, if someone clicks at the link (home, about...)
            // close the menu
            navigations.forEach((element) => {
                element.addEventListener("click", () => {
                    console.log("hello");
                    menu.classList.remove("show");
                    hamberger.classList.toggle("open");
                });
            });
        </script>
    </nav>
</header>
<style>
    header {
        background: var(--Lightest, #fcffff);
        /* DROP SHADOW */
        box-shadow: 0px 4px 4px 0px #b6ced0;
        height: 4.375rem;
    }
    nav {
        height: 100%;
        padding: 0 40px;
    }
    .mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .navigation {
        color: var(--Charcoal, #5b6166);
        text-align: center;
        /* NAV */
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
    }
    .navigation:hover {
        font-size: 18px;
        font-weight: bold;
    }
    .resume {
        color: #0a929b;
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .resume:hover {
        font-size: 18px;
    }

    #hambergerClosed {
        display: none;
    }
    .icon {
        cursor: pointer;
    }
    /* phone only */
    @media (max-width: 768px) {
        /* reference for slide-in navigation */
        /* https://www.youtube.com/watch?v=OFKBep95lb4&t=469s&ab_channel=TylerPotts & ChatGPT*/
        .menu {
            opacity: 0;
            visibility: hidden;
            transition:
                opacity 200ms ease-in,
                visibility 200ms ease-in;
        }
        .menu.show {
            opacity: 1;
            visibility: visible;
        }
        .main-logo-desk {
            display: none;
        }
        .main-logo-phone {
            color: #0a929b;
            text-align: center;
            font-family: Lato;
            font-size: 32px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
        }
        #hamberger {
            position: absolute;
            top: auto;
            right: 2rem;
            z-index: 1000;
            width: 37px;
            height: 27px;
            cursor: pointer;
            transform: rotate(0deg);
            transition: 0.5s ease-in-out;
        }
        #hamberger b {
            display: block;
            position: absolute;
            width: 37px;
            height: 3px;
            left: 0;
            background-color: #000000;
            border-radius: 2px;
            transform: rotate(0deg);
            transition: 0.3s ease-in-out;
        }
        .bar-1 {
            top: 0;
        }
        .bar-2,
        .bar-3 {
            top: 50%;
        }
        .bar-4 {
            top: 100%;
        }
        #hamberger.open .bar-1 {
            top: 50%;
            width: 0%;
            left: 50%;
        }
        #hamberger.open .bar-2 {
            transform: rotate(45deg);
        }
        #hamberger.open .bar-3 {
            transform: rotate(-45deg);
        }
        #hamberger.open .bar-4 {
            top: 50%;
            width: 0%;
            left: 50%;
        }
        #over-lay {
            position: fixed;
            inset: 0 40% 0 0;
            background: rgba(0, 0, 0, 0.5);
        }
        .nav-container {
            position: fixed;
            inset: 0 0 0 60%;
            background: #fbfbfb;
            box-shadow: 0px 4px 4px 0px #b6ced0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            padding: 8rem 2rem;
        }
        .icon-container {
            padding-top: 16rem;
            display: flex;
            flex-direction: row;
        }
    }
    @media (min-width: 768px) {
        .mobile {
            display: none;
        }
        nav {
            height: 100%;
            padding: 0 70px;
        }
        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            gap: 103px;
        }
        .main-logo-desk {
            color: #0a929b;
            text-align: center;
            font-family: Lato;
            font-size: 32px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            cursor: pointer;
        }
        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }
        .navigation {
            font-size: 20px;
        }
        .navigation:hover {
            font-size: 22px;
            font-weight: bold;
        }
        .resume {
            font-size: 20px;
        }
        .resume:hover {
            font-size: 22px;
            font-weight: bold;
        }
        .icon {
            width: 40px;
            height: 37px;
        }
        .icon-container {
            display: flex;
        }
    }
</style>
