<header>
  <nav class="flex">
    <img src="public/images/js.png" alt="Site logo" />
    <ul class="flex">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Experience</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Resume</a></li>
    </ul>
  </nav>
</header>
