---
import { Image } from "astro:assets";
import hamberger from "../../public/images/menu.png";
import hambergerClosed from "../../public/images/hamberger-closed2.png";
---

<header>
    <nav>
        <div class="mobile">
            <h3 class="main-logo-phone">Ash.dev</h3>
            <div
                id="hamberger"
                aria-controls="primary-navigation"
                aria-expanded="false"
            >
                <Image
                    id="hambergerOpen"
                    src={hamberger}
                    alt="open menu"
                    width="50"
                    height="50"
                />
                <Image
                    id="hambergerClosed"
                    src={hambergerClosed}
                    alt="close menu"
                    width="50"
                    height="50"
                />
            </div>
        </div>
        <div id="menu" class="menu">
            <h3 class="main-logo-desk"><a href="#section1">ASH.dev</a></h3>
            <div class="nav-container" id="primary-navigation">
                <a class="navigation" href="#section2">ABOUT</a>
                <a class="navigation" href="#section3">PROJECTS</a>
                <a class="navigation" href="#contact">CONTACT</a>
                <!-- <a class="resume" href="#">RESUME</a> -->
                <div class="icon-container">
                    <a href="https://www.linkedin.com/in/asahi-kuroki/"
                        ><img
                            class="icon"
                            src="images/linkedin-3.png"
                            alt="linkedin-icon"
                        /></a
                    >
                    <a href="https://github.com/kurokiasahi222">
                        <img
                            class="icon"
                            src="images/github.png"
                            alt="github-icon"
                        />
                    </a>
                </div>
            </div>
        </div>
        <script>
            const hamberger: HTMLElement =
                document.getElementById("hamberger")!;
            const menu: HTMLElement = document.getElementById("menu")!;
            const hambergerOpen: HTMLElement =
                document.getElementById("hambergerOpen")!;
            const hambergerClosed: HTMLElement =
                document.getElementById("hambergerClosed")!;
            hamberger.addEventListener("click", () => {
                console.log("helo0");
                // if open, close the menu
                if (menu.style.display === "block") {
                    menu.style.display = "none";
                    hambergerOpen.style.display = "block";
                    hambergerClosed.style.display = "none";
                } else {
                    menu.style.display = "block";
                    hambergerOpen.style.display = "none";
                    hambergerClosed.style.display = "block";
                }
                menu.classList.toggle("active");
            });
        </script>
    </nav>
</header>
<style>
    header {
        background: var(--Lightest, #fcffff);
        /* DROP SHADOW */
        box-shadow: 0px 4px 4px 0px #b6ced0;
        height: 4.375rem;
    }
    nav {
        height: 100%;
        padding: 0 40px;
    }
    .mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .navigation {
        color: var(--Charcoal, #5b6166);
        text-align: center;
        /* NAV */
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .navigation:hover {
        font-size: 18px;
        font-weight: bold;
    }
    .resume {
        color: #0a929b;
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .resume:hover {
        font-size: 18px;
    }

    #hambergerClosed {
        display: none;
    }

    @media (max-width: 768px) {
        .menu {
            display: none;
        }
        .main-logo-phone {
            color: #0a929b;
            text-align: center;
            font-family: Lato;
            font-size: 32px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
        }
        #hamberger {
            position: fixed;
            top: 0.5rem;
            right: 2rem;
            z-index: 1000;
        }
        .nav-container {
            position: fixed;
            inset: 0 0 0 60%;
            background: #fbfbfb;
            box-shadow: 0px 4px 4px 0px #b6ced0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            padding: 8rem 2rem;
        }
        .main-logo-desk {
            display: none;
        }
        .icon-container {
            padding-top: 16rem;
            display: flex;
            flex-direction: row;
        }
    }
    @media (min-width: 768px) {
        .mobile {
            display: none;
        }
        nav {
            height: 100%;
            padding: 0 70px;
        }
        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            gap: 103px;
        }
        .main-logo-desk {
            color: #0a929b;
            text-align: center;
            font-family: Lato;
            font-size: 32px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
        }
        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }
        .navigation {
            font-size: 20px;
        }
        .navigation:hover {
            font-size: 22px;
            font-weight: bold;
        }
        .resume {
            font-size: 20px;
        }
        .resume:hover {
            font-size: 22px;
            font-weight: bold;
        }
        .icon {
            width: 40px;
            height: 37px;
        }
        .icon-container {
            display: flex;
        }
    }
</style>
