<ul class="flex">
    <li>
        <img src="./public/images/typescript.png" alt="typescript"/>
    </li>
    <li>
        <img src="./public/images/react.png" alt="react"/>
    </li>
    <li>
        <img src="./public/images/typescript.png" alt="typescript"/>
    </li>
    <li>
        <img src="./public/images/typescript.png" alt="typescript"/>
    </li>
</ul>