--- 
import Header from '../components/Header.astro';
import Home from '../components/Home';
import Portfolio from '../components/Portfolio.astro';
import AboutMe from '../components/AboutMe.astro';
interface Props {
	title: string;
}
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.20/fullpage.js" integrity="sha512-ekWIiATJSaL5RWmBSap8JDgTMCIBCso5UFovYoMix+a4qFcVDryBcCt4P0kJA4kA0YtmnJuzfTcmb9+TIznIlg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div id="header">
			<Header />
		</div>
		<div id="fullpage">
			<div class="section fp-auto-height">
				<Home client:load/>
			</div>
			<div class="section">
				<AboutMe/>	
			</div>
			<div class="section">
				<Portfolio />
			</div>
		</div>
		
		<script>
			new fullpage('#fullpage', {
			//options here
				sectionsColor: ['#f9f9f9', 'white', '#f9f9f9'],
				autoScrolling: true,
				licenseKey: 'L3B16-Q1HWH-KKFRH-9MJ38-RXWYM', 
				fixedElements: '#header', 
				paddingTop: '4rem',
		}); 
		</script>
	</body>
</html>
<style>
	.section {
		height: 100vh; 
	}
	#header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
	}
</style>../components/TechStack.tsx